/* page header bar */
/* mobile first, tablet
   icon appname            usermenu
   m   a   i   n      m   e   n   u
*/
/* desktop +
   icon appname     mainmenu       usermenu
*/

/* wrapper flex, main menu on mobile no wrap */

.page-header {
  background-color: #3273dc; /* page-header-bg-color */
  color: #fff; /* page-header-font-color */
  font-size: 1rem; /* page-header-font-size */
}

.page-header--wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
}

.page-header--apps-icon {
  width: 20px;
  height:20px;
  text-align: center;
}

.page-header--title {
  margin-left: 10px;
  font-weight:700;
}

.page-header--title a {
  text-decoration: none;
  color: #fff;
}

.page-header--menu.is-main-menu {
  order: 4;
  width: 100%;
}

.page-header--menu.is-user-menu {
  margin-left: auto;
}

.page-header--menu > ul {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.page-header--menu > ul > li {
  margin-right: 2rem;
  border-bottom: 2px solid #3273dc;
  padding: 10px 0;
  cursor: pointer;
}

.page-header--menu > ul > li:last-child {
  margin-right: 0px;
}

.page-header--menu > ul > li.is-active, .page-header--menu > ul > li.is-selected, .page-header--menu > ul > li:hover {
  border-bottom: 2px solid #fff;
}

.page-header--menu > ul > li > a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.page-header--menu > ul > li > a > img, .page-header--menu > ul > li > a > span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.page-header--menu > ul > li > a > img {
  line-height: 1;
}

.page-header--submenu {
  position: absolute;
  display: none;
  z-index: 1;
  background: #fff;
  width: 100%;
  height: 100px;
  top: 40px;
  left: 0;
  min-height: 20px;
  box-shadow: 0 3px 12px rgba(27,31,35,0.15);
  cursor: auto;
}

.page-header--menu > ul > li.has-submenu {
}

.page-header--menu > ul > li.has-submenu.is-active > div.page-header--submenu,
.page-header--menu > ul > li.has-submenu.is-hoverable:hover > div.page-header--submenu {
  display: block;
}

@media screen and (min-width: 1024px) {
  .page-header--menu.is-main-menu {
    order: unset;
    width: auto;
    margin-left: 4rem;
  }

  .page-header--menu > ul {
    overflow-x: unset;
  }

  .page-header--menu > ul > li {
    position: relative;
  }

  .page-header--menu > ul > li > div.page-header--submenu {
    left: 0;
    width: 300px;
  }

  .page-header--menu.is-user-menu .page-header--submenu {
    right: 0;
    left: unset;
  }
}
