.list {
  overflow: hidden;

  .row {
    padding: 8px 0;
    border-bottom: 1px solid #ddd;

    &.is-header {
      font-weight: 700;
    }

    .col {
      &.is-action {
        margin-right: 0px;
        margin-left: auto;
        text-align: right;

        a {
          display: inline-block;
          color: inherit;

          .icon {
            background: #eee;
            border-radius: 2px;

            &.is-danger {
              background: $danger;
              color: $danger-invert;
            }
          }
        }
      }
    }
  }
}
