$header-background-color: $indigo-500;
$global-header-background-color: $indigo-700;
$page-header-background-color-hover: $indigo-50;

.apps-menu {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 0;
  overflow-y: auto;
  background: $header-background-color;
  transition: height .5s;

  &.is-active {
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .apps-menu {
    overflow-y: hidden;
  }
}

.global-header {
  background-color: $global-header-background-color;
  color: #fff;
}

.global-header--wrapper {
  margin: 0 16px;
  width: calc(100% - 32px);
}

.global-header--title {
  font-size: 1.5rem;
  font-weight: 700;
}

.global-header--apps {
  ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    li {
      margin-right: 2rem;
      white-space: nowrap;
      padding-bottom: 8px;
      padding-top: 12px;

      &.is-active {
        border-bottom: 2px solid #fff;
      }

      a {
        font-weight: 700;
        color: #fff;
        text-decoration: none;
      }
    }
  }
}

.page-header {
  color: #fff;
}

.page-header--wrapper {
  margin: 0 16px;
  width: calc(100% - 32px);
}

.page-header--title {
  padding-top: 16px;
  font-weight: 700;
  font-size: 1.3rem;
  display: block;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.page-header--menu {
  > ul {
    > li {
      margin-top: 1.5rem;
      margin-right: 2rem;
      width: 240px;

      > a {
        color: #fff;
        text-decoration: none;
        display: block;
        font-weight: 500;

        > img, > span {
          display: inline-block;
        }

        > img {
          line-height: 1.25;
        }
      }
    }
  }
}

.page-header--submenu {
  margin-left: 16px;

  li {
    margin-top: 16px;
  }

  a {
    color: #eee;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 770px) {
  .page-header--menu {
    > ul {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.page-menu {
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.page-menu--wrapper {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}

.page-menu--apps-icon {
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  padding-top: 18px;
  border-right: 1px solid #ddd;
  display: none;

  &.is-active {
    display: block;
  }
}

.page-menu--extra-text {
  display: none;
  padding-top: 19px;
  margin-left: 16px;
}

.page-menu--menu {
  margin-left: 16px;
  display: none;

  &.is-right-menu {
    margin-left: auto;
    margin-right: 16px;
    display: block;

    > ul > li {
      padding-top: 14px;
    }
  }

  > ul {
    display: flex;
    overflow-x: auto;

    > li {
      padding: 19px 0 10px 0;
      cursor: pointer;
      height: 50px;

      + li {
        margin-left: 2rem;
      }

      > a {
        text-decoration: none;
        display: block;
        line-height: 20px;

        > img, > span {
          display: inline-block;
          vertical-align: middle;
          line-height: 1;
        }

        > img {
          line-height: 1;
        }
      }
    }
  }
}

.page-menu--submenu {
  cursor: default;
  background: #fff;
  position: absolute;
  top: 32px;
  right: 16px;
  left: 16px;
  display: none;
}

.page-menu--menu > ul {
  > li {
    &.has-submenu.is-active .page-menu--submenu {
      display: block;
    }

    &.has-submenu.is-alert-menu .dropdown-menu::before {
      right: 70px;
    }

    &.has-submenu.is-alert-menu .dropdown-menu::after {
      right: 71px;
    }
  }
}

@media screen and (min-width: 400px) {
  .page-menu--submenu {
    right: 16px;
    left: unset;
    width: 250px;
  }

  .page-menu--extra-text {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .page-menu--menu {
    display: block;
  }
}
