html{font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;text-size-adjust:100%;text-rendering:optimizeLegibility}

/* .global-header{background-color:#303f9f;color:#fff;display:none}.global-header.is-active{display:block}.global-header--close{position:absolute;top:1.3rem;right:1rem;cursor:pointer}.global-header--wrapper{padding-top:1rem;padding-bottom:1rem}.global-header--title{font-size:1.5rem;margin-bottom:.5rem;font-weight:700}.global-header--apps ul li+li{margin-top:.25rem}.global-header--apps ul li a{font-weight:700;color:#fff;text-decoration:none}@media screen and (min-width:1024px){.global-header--wrapper{display:flex;align-items:center}.global-header--title{margin-right:3rem;margin-bottom:0}.global-header--apps ul{display:flex}.global-header--apps ul li{margin-right:2rem}.global-header--apps ul li+li{margin-top:0}}.page-header{background-color:#3f51b5;color:#fff;font-size:1rem}.page-header--wrapper{display:flex;flex-wrap:wrap;align-items:center;line-height:1}.page-header--apps-icon{width:20px;height:20px;text-align:center;cursor:pointer;padding-top:2px}.page-header--apps-icon.is-active{background-color:#fff;color:#3273dc}.page-header--title{margin-left:10px;font-weight:700;font-size:1.3rem}.page-header--title a{text-decoration:none;color:#fff}.page-header--menu.is-main-menu{order:4;width:100%}.page-header--menu.is-user-menu{margin-left:auto}.page-header--menu>ul{display:flex;overflow-x:auto;white-space:nowrap}.page-header--menu>ul>li{margin-right:2rem;border-bottom:4px solid #3f51b5;padding:14px 0 10px 0;cursor:pointer;height:48px}.page-header--menu>ul>li:last-child{margin-right:0}.page-header--menu>ul>li.is-active,.page-header--menu>ul>li.is-selected,.page-header--menu>ul>li:hover{border-bottom:4px solid #e8eaf6}.page-header--menu>ul>li>a{color:#fff;text-decoration:none;display:block;line-height:20px}.page-header--menu>ul>li>a>img,.page-header--menu>ul>li>a>span{display:inline-block;vertical-align:middle;line-height:1}.page-header--menu>ul>li>a>img{line-height:1}.page-header--submenu{position:absolute;display:none;z-index:1;background:#fff;width:100%;height:100px;top:82px;left:0;min-height:20px;box-shadow:0 3px 12px rgba(27,31,35,.15);cursor:auto}.page-header--menu>ul>li.has-submenu.is-active>div.page-header--submenu,.page-header--menu>ul>li.has-submenu.is-hoverable:hover>div.page-header--submenu{display:block}@media screen and (min-width:1024px){.page-header--menu.is-main-menu{order:unset;width:auto;margin-left:4rem}.page-header--menu>ul{overflow-x:unset}.page-header--menu>ul>li{position:relative}.page-header--menu>ul>li>div.page-header--submenu{left:0;width:300px}.page-header--menu.is-user-menu .page-header--submenu{right:0;left:unset}.page-header--submenu{top:42px}} */

body {
  background: #F8F8F8;
}

.apps-menu {
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: #3f51b5;
}

.global-header {
  background-color: #303f9f;
  color: #fff;
  display: none;
}

.global-header--wrapper {
  margin: 0 16px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.global-header--title {
  font-size: 1.5rem;
  font-weight: 700;
}

.global-header--apps {
  margin: 0;
}

.global-header--apps ul {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.global-header--apps ul li {
  margin-right: 2rem;
}

.global-header--apps ul li a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .global-header--wrapper {
    display: flex;
  }

  .global-header--title {
    flex: 0 0 128px;
    margin-right: 0px;
  }
}

.page-header--wrapper {
  margin: 0 16px;
}

.global-header {
  display: flex;
}

.page-header--title {
  margin-left: 0;
}

.page-menu {
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.page-menu--wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
}

.page-header--wrapper {
  display: flex;
  line-height: 1;
  flex-wrap: nowrap;
  align-items: unset;
}

.page-header--title {
  flex: 0 0 128px;
  padding-top: 16px;
  padding-right: 16px;
  width: 64px;
}

.page-header--menu {
  margin: 0;
}

.page-header--menu.is-main-menu {
  margin: 0;
}

.page-header--submenu {
  position: relative;
  display: block;
  top: 0;
  background: unset;
  box-shadow: unset;
  cursor: default;
}

.page-header--menu {
  display: flex;
}

.page-header--menu > ul {
  display: flex;
  flex-wrap: wrap;
}

.page-header--menu > ul > li {
  margin-right: 2rem;
  border-bottom: 0px;
  padding: 14px 0 10px 0;
  cursor: pointer;
  height: auto;
  min-width: 200px;
}

.page-header--menu > ul > li:last-child {
  margin-right: 0px;
}
.page-header--menu > ul > li.is-active, .page-header--menu > ul > li.is-selected, .page-header--menu > ul > li:hover {
  border-bottom: 0px;
}

.page-header--menu > ul > li > a {
  border-bottom: 2px solid #fff;
  margin-bottom: 12px;
  padding-bottom: 4px;
}

.page-header--menu>ul>li>div.page-header--submenu {
  width: auto;
}

.page-header--submenu a {
  color: #eee;
}

.page-header--submenu a:hover {
  color: #fff;
}

.page-menu--apps-icon {
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
  padding-top: 18px;
  border-right: 1px solid #ddd;
}

.page-menu--apps-icon.is-active {
  background-color: #fff;
  color: #3273dc;
}

.page-menu--menu {
  margin-left: 16px;
}

.page-menu--menu.is-user-menu {
  margin-left: auto;
  margin-right: 16px;
}

.page-menu--menu > ul {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
}

.page-menu--menu > ul > li {
  margin-right: 2rem;
  padding: 14px 0 10px 0;
  cursor: pointer;
  height: 48px;
}

.page-menu--menu > ul > li:last-child {
  margin-right: 0px;
}

.page-menu--menu > ul > li.is-active, .page-menu--menu > ul > li.is-selected, .page-menu--menu > ul > li:hover {

}

.page-menu--menu > ul > li > a {
  text-decoration: none;
  display: block;
  line-height: 20px;
}

.page-menu--menu > ul > li > a > img, .page-menu--menu > ul > li > a > span {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.page-menu--menu > ul > li > a > img {
  line-height: 1;
}
