$dropdown-content-background-color: #fff !default;
$dropdown-content-arrow: #bbb !default;
$dropdown-content-offset: 16px !default;
$dropdown-content-radius: 4px !default;
$dropdown-content-shadow: 0 2px 3px rgba(#000, 0.1), 0 0 0 1px rgba(#000, 0.1) !default;
$dropdown-content-z: 20 !default;

$dropdown-item-color: #000 !default;
$dropdown-item-hover-color: #fff !default;
$dropdown-item-hover-background-color: $indigo-500 !default;
$dropdown-item-active-color: #fff !default;
$dropdown-item-active-background-color: $indigo-700 !default;

$dropdown-divider-background-color: #ddd !default;

.dropdown {
  display: inline-flex;
  position: relative;
  vertical-align: top;

  &.is-active,
  &.is-hoverable:hover {
    .dropdown-menu {
      display: block;
    }
  }

  &.is-right {
    .dropdown-menu {
      left: auto;
      right: 0;
    }
  }

  &.is-up {
    .dropdown-menu {
      bottom: 100%;
      padding-bottom: $dropdown-content-offset;
      padding-top: initial;
      top: auto;
    }
  }
}

.dropdown-menu {
  display: none;
  left: 0;
  min-width: 12rem;
  margin-top: $dropdown-content-offset;
  position: absolute;
  top: 100%;
  z-index: $dropdown-content-z;
  background-color: $dropdown-content-background-color;
  border-radius: $dropdown-content-radius;
  box-shadow: $dropdown-content-shadow;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  &::before {
    top: -16px;
    right: 9px;
    left: auto;
  }

  &::before {
      border: 8px solid transparent;
      border-bottom-color: rgba(0,0,0,.1);
  }

  &::after {
    top: -14px;
    right: 10px;
    left: auto;
  }

  &::after {
      border: 7px solid transparent;
      border-bottom-color: #fff;
  }

  &::before, &::after {
      position: absolute;
      display: inline-block;
      content: "";
  }
}

.dropdown-item {
  color: $dropdown-item-color;
  display: block;
  position: relative;
  // padding-right: 3rem;
  white-space: nowrap;

  a {
    display: block;
    color: $dropdown-item-color;
    text-decoration: none;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: $dropdown-item-hover-background-color;
      color: $dropdown-item-hover-color;
    }
  }

  &.is-active {
    a {
      background-color: $dropdown-item-active-background-color;
      color: $dropdown-item-hover-color;
    }
  }
}

.dropdown-divider {
  background-color: $dropdown-divider-background-color;
  border: none;
  display: block;
  height: 1px;
  margin: 0.5rem 0;
}
