html {
  font-family: $font-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

body {
  background-color: $body-bg-color;
  font-size: 1rem;
}

.container {
  padding-left: $gap;
  padding-right: $gap;
  width: 100%;

  &.is-fluid {
    width: 100%;
    padding-left: $gap;
    padding-right: $gap;
  }
}

@include desktop {
  .container {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
  }
}

@include widescreen {
  .container {
    width: 1152px;
  }
}

@include fullhd {
  .container {
    width: 1344px;
  }
}

.overlay {
  position: fixed;
  z-index: 1000;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(250, 250, 250, 0.5);
  overflow-x: auto;
  overflow-y: scroll;
  display: none;
  cursor: pointer;

  &.is-active {
    display: block;
  }
}

body.is-active-overlay {
  overflow: hidden !important;
}
