$col-gap: 16px;

.cols {
  margin-left: (-$col-gap);
  margin-right: (-$col-gap);
  margin-top: (-$col-gap);

  &.is-mobile {
    display: flex;
  }

  @include tablet {
    display: flex;
  }
}

.col {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: $col-gap;

  @for $i from 1 through 12 {
    .cols.is-mobile &.is-#{$i}-p-12 {
      flex: none;
      width: percentage($i / 12);
    }

    .cols.is-mobile &.is-offset-#{$i}-p-12 {
      margin-left: percentage($i / 12);
    }
  }

  @include tablet {
    @for $i from 1 through 12 {
      &.is-#{$i}-p-12 {
        flex: none;
        width: percentage($i / 12);
      }

      &.is-offset-#{$i}-p-12 {
        margin-left: percentage($i / 12);
      }
    }
  }
}
