$col-gap: 16px;

.cols {
  margin-left: (-$col-gap);
  margin-right: (-$col-gap);

  &.is-mobile {
    display: flex;
  }

  @include tablet {
    display: flex;
  }
}

.col {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: $col-gap;
  padding-right: $col-gap;

  @for $i from 1 through 12 {
    .cols.is-mobile &.is-#{$i} {
      flex: none;
      width: percentage($i / 12);
    }

    .cols.is-mobile &.is-offset-#{$i} {
      margin-left: percentage($i / 12);
    }
  }

  @for $i from 1 through 16 {
    .cols.is-mobile.is-16 &.is-#{$i} {
      flex: none;
      width: percentage($i / 16);
    }

    .cols.is-mobile.is-16 &.is-offset-#{$i} {
      margin-left: percentage($i / 16);
    }
  }

  @include tablet {
    @for $i from 1 through 12 {
      &.is-#{$i} {
        flex: none;
        width: percentage($i / 12);
      }

      &.is-offset-#{$i} {
        margin-left: percentage($i / 12);
      }
    }

    @for $i from 1 through 16 {
      .cols.is-16 &.is-#{$i} {
        flex: none;
        width: percentage($i / 16);
      }

      .cols.is-16 &.is-offset-#{$i} {
        margin-left: percentage($i / 16);
      }
    }
  }

  // order
  @for $i from 1 through 30 {
    &.is-o-#{$i} {
      order: $i;
    }
  }
}
