.tabs {
  .tabs--wrapper, ul {
    display: flex;
    border-bottom: 1px solid #ddd;
    overflow-x: auto;

    .tab, li {
      // padding-left: 16px;
      // padding-right: 16px;
      border-bottom: 3px solid transparent;
      padding-bottom: 8px;
      cursor: pointer;

      + .tab, + li {
        margin-left: 16px;
      }

      &.is-active {
        border-bottom-color: $indigo-500;
        color: $indigo-500;

        &:hover {
          border-bottom-color: $indigo-500;
        }
      }

      &:hover {
        border-bottom-color: #ccc;
      }

      a {
        color: inherit;
        text-decoration: none;
        cursor: inherit;
      }
    }
  }
}

.tab-content {
  display: none !important;

  &.is-active {
    display: block !important;
  }
}
