.token--container {
  position: relative;
}

.token {
  flex-wrap: wrap;
  height: auto;
}

.token--list {
  display: flex;
  flex-wrap: wrap;

  .token-item {
    border: 1px solid #ccc;
    background: #ddd;
    margin-right: 0.25rem;
    border-radius: 4px;
    padding: 0px 2px;
    cursor: default;

    span, .token-item--delete {
      cursor: pointer;
    }
  }
}

.token--input {
  border: 0;
  outline: none;
}

.token--suggestion {
  margin-top: 2px;
  width: 100%;

  &::before, &::after {
    display: none;
  }

  &.is-active {
    display: block;
  }
}
